@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Work+Sans:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}
:root {
    --fontTexto: "Work Sans";
    --fontTitulo: "Quicksand";
    --corHeader: #eee;
    --corBanner: #BFD7EA;
    --corFundo: #A5B5C1;
    --corTexto: #087CA7;
    --corTitulo: #0B3954;
    --corFooter: #373D45;
}

body {
    background-color: var(--corFundo);
    position: relative;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    background-color: #eee;
}

.contaeConfig {
    display: flex;
    align-items: center;
}
.contaeConfig a:not(:last-child) {
    padding-right: 20px;
    font-family: var(--fontTitulo);
    font-size: 18px;
    color: var(--corTitulo);
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
.contaeConfig img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.253));
}

.menu a:not(:last-child) {
    padding-right: 30px;
}
.menu a {
    font-family: var(--fontTitulo);
    font-size: 17px;
    color: var(--corTexto);
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.banner {
    height: 450px;
    background-color: var(--corBanner);
    position: relative;
}
.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
.copy p:not(:last-child) {
    width: 390px;
    font-family: var(--fontTitulo);
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    color: var(--corTitulo);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
}
.copy p:not(:first-child) {
    width: 410px;
    font-family: var(--fontTexto);
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: var(--corTitulo);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
}
.panda {
    filter: drop-shadow(2px 7px rgba(0, 0, 0, 0.253));
    opacity: 0.8;
}
.pandas {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.3;
}

.testeDigita {
    background-image: url(../img/fundo.png) ;
    background-repeat: no-repeat;
    background-position: top;
    height: 780px;
    display: flex;
    justify-content: center;
}
.conteinerDois {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--corHeader);
    width: 755px;
    height: 450px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.conteinerDois h1 {
    font-family: var(--fontTitulo);
    color: var(--corTitulo);
    font-weight: 600;
    font-size: 25px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 30px 0;
}
.parametros {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.parametros p {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--fontTexto);
    font-weight: 500;
    line-height: 30px;
    font-size: 14px;
}
.tempo, .precisao, .ppm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pausaReiniciar {
    cursor: pointer;
}
.numeros {
    font-size: 18px;
}
.digitacaoDoTexto {
    margin-top: 50px;
}
#digitandoTexto {
    border: none;
    background-color: var(--corHeader);
    outline: none;
}
.textoParaDigitar {
    width: 700px;
    text-align: justify;
}

.resumo {
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 780px;
}
#bar {
    width: 100%;
    height: 3px;
    background-color: var(--corHeader);
    border: 3px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.resumoD {
    margin: auto;
}
.resumoD p {
    text-align: justify;
    line-height: 1.6em;
    padding: 0px 20px 20px;
    font-size: 17px;
    font-family: var(--fontTexto);
}

footer {
    background-color: var(--corFooter);
    padding: 6px;
}
footer div {
    font-size: 13px;
    text-align: center;
}

.aprendaS {
    background-image: url(../img/img-fundo-longo.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 1550px;
}
.conteinerAprenda {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--corHeader);
    width: 755px;
    height: 1320px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
}
.conteinerAprenda h1 {
    font-family: var(--fontTitulo);
    color: var(--corTitulo);
    font-weight: 600;
    font-size: 25px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 30px 0;
}
.conteinerAprenda p {
    text-align: justify;
    line-height: 1.6em;
    padding: 0px 20px 20px;
    font-size: 17px;
    font-family: var(--fontTexto);
}
.posturaCorreta {
    display: flex;
}
.posturaCorreta p {
    flex: 1;
}
.posturaCorreta img {
    flex: 2;
    padding-right: 20px;
}
.posicionamentoDedos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pratique {
    display: flex;
    justify-content: center;
}
.conPratique {
    background-color: var(--corBanner);

}
.opcoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    margin-top: 10px;
}
.opcoes div {
    font-size: 17px;
    font-weight: 600;
    background-color: var(--corHeader);
    padding: 10px 15px;
    border-radius: 12px;
    color: var(--corTitulo);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.opcoes div:not(:last-child) {
    background-color: var(--corTitulo);
    color: var(--corHeader);
}
.licoes {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}
.licao {
    margin: 10px;
    width: 30%;
    padding: 10px 50px;
    background-color: var(--corHeader);
    border-radius: 10px;
    font-family: var(--fontTexto);
    font-weight: 500;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.textos {
    min-width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}
.textos div {
    margin: 10px;
    width: 45%;
    padding: 10px 50px;
    background-color: var(--corHeader);
    border-radius: 10px;
    font-family: var(--fontTexto);
    font-weight: 500;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.conta {
    background-color: var(--corBanner);
}
.criarConta, .entrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input, .botao {
    display: flex;
    flex-direction: column;
}
.input input {
    margin-bottom: 15px;
    width: 300px;
    height: 35px;
    background: #EEEEEE;
    border-radius: 13px;
    border: none;
    padding-left: 10px;
}
.input input:first-child {
    margin-bottom: 20px;
}
.botao button {
    margin-bottom: 10px;
}
.entrar {
    display: none;
}